@using Stranded.ViewModels
@model Stranded.ViewModels.ItemCreationViewModel
@{
    ViewData["Title"] = "ItemCreation";
}

<h1>Item Creation Tool</h1>
<form asp-controller="Item" asp-action="Save" method="post" enctype="multipart/form-data">
    <div class="container row">
        <div class="col-md-2">
            <label>Item Name</label>
        </div>
        <div class="col-md-5">
            <input type="text" asp-for="Name" />
        </div>
        <div class="col-md-5"></div>
        <span asp-validation-for="Name" class="text-danger col-md-12"></span>
        <div class="col-md-2">
            <label>Item Type</label>
        </div>
        <div class="col-md-5">
            <select asp-for="ItemType"
                    asp-items="Html.GetEnumSelectList<Stranded.ViewModels.ItemType>()">
                <option></option>
            </select>
        </div>
        <div class="col-md-5"></div>
        <span asp-validation-for="ItemType" class="text-danger col-md-12"></span>
        <div class="col-md-2">
            <label>Item Image</label>
        </div>
        <div class="col-md-5">
            @Html.EditorFor(model => model.ImageFile)
            <input type="hidden" asp-for="ImageFile" />
        </div>
        <span asp-validation-for="ImageFile" class="text-danger col-md-12"></span>
    </div>
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Create" />
</form>
