@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to Stranded</h2>
</div>
<div class="mainPage">
    <img src="~/images/Gifs/demoHoofdpagina.gif" />
</div>
<div>
    <h2 class="text-center"><a style="color:black; text-decoration:none;" href="@Url.Action("Register", "Account")">Sign up now for free!</a></h2>
</div>
