@model Stranded.Models.ViewModels.MapViewModel
@{
    ViewData["Title"] = "Map";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Map</title>
</head>
<body>
<canvas id="canvas" width="700" height="700">

</canvas>
</body>
</html>
