@model Stranded.ViewModels.MapViewModel
@{
    ViewData["Title"] = "Map";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Map</title>
</head>
<body>
    <div class="Gui_Game">
        <partial name="_Game" />
        <partial name="_Gui" />
    </div>
</body>
</html>
