@model Stranded.Models.ViewModels.CharacterViewModel
@{
    ViewData["Title"] = "Characters";
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Characters</title>
    <link rel="stylesheet" href="css/site.css" />
</head>
<body>

    <table class="table table-bordered table-dark largetd" align="center">
        <tr>
            <th>Character</th>
            <th>Options</th>
        </tr>
        @foreach (var character in Model.Characters)
        {
            <tr>
                <td> <img src="../images/CharModels/@character.CharacterModel" /> <label class="charName">@character.Name</label></td>
                <td class="smalltd">
                    <div>
                        <form method="post" asp-controller="Character" asp-action="Play">
                            <input type="hidden" asp-for="Id" value="@character.Id" />
                            <input type="submit" value="Play" />
                        </form>
                        <form method="post" asp-controller="Character" asp-action="RemoveCharacter">
                            <input type="hidden" asp-for="Id" value="@character.Id" />
                            <input type="submit" value="Delete" />
                        </form>
                    </div>
                </td>
            </tr>
        }
        <tr>
            <td>
                <form method="get" asp-controller="Character" asp-action="CharacterCreation">
                    <input type="submit" value="New Character" />
                </form>
            </td>
        </tr>
    </table>

</body>
</html>
