@using System.Security.Cryptography.Xml
@using Stranded.Models.ViewModels
@model Stranded.Models.ViewModels.CharacterViewModel
@{
    ViewData["Title"] = "Characters";
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Characters</title>
    <link rel="stylesheet" href="css/site.css" />
</head>
<body>
    @foreach (var character in Model.Characters)
    {
        <table class="table table-bordered table-dark" style="width: 100%">
            <tr>
                <th>Character Name</th>
                <th>Character Model</th>
            </tr>
            <tr>
                <td>@character.Name</td>
                @if (character.CharacterModel == 1)
                {
                    <td> <label id="Char1"></label></td>
                }
                @if (character.CharacterModel == 2)
                {
                    <td><label id="Char2"></label></td>
                }
                @if (character.CharacterModel == 3)
                {
                    <td><label id="Char3"></label></td>
                }
            </tr>
            <tr>
                <td>
                    <input type="text" hidden asp-for="Id" />
                    <button id="" asp-for="Id" asp-controller="Map" asp-action="LoadMap">Play</button>
                    <input type="submit" value="Delete" id="@character.Id" asp-for="Id" asp-controller="Character" asp-action="RemoveCharacter" />
                </td>
            </tr>
        </table>
    }
</body>
</html>
