@model Stranded.ViewModels.CharacterCreationViewModel
@{
    ViewData["Title"] = "CharacterCreation";
}

<h1>Characters</h1>
<form asp-action="CharacterCreation" method="post">
    <div class="container row">
        <div class="col-md-2">
            <label>Character Name</label>
        </div>
        <div class="col-md-3">
            <input type="text" asp-for="Name" class="form-control" />
        </div>
        <div class="col-md-7"></div>
        <span asp-validation-for="Name" class="text-danger col-md-12"></span>
        <div class="col-md-2">
            <label>Character Model</label>
        </div>
        <div class="col-md-4">
            @foreach (var charModel in @Model.CharModels)
            {
                <input type="hidden" id="CharModelInput" asp-for="CharacterModel" value="@Model.CharacterModel" />
                <input type="button" class="Char form-control" data-model="@charModel" style="background-image: url(../images/CharModels/@charModel )" />
            }
        </div>
        <span asp-validation-for="CharacterModel" class="text-danger col-md-12"></span>
    </div>
    <input type="hidden" asp-for="Id" name="Id" />
    <input type="submit" value="Create" />
</form>
