@model Stranded.Models.ViewModels.MapViewModel
<!DOCTYPE html>
<body>
    <div class="Gui">
        <br /><br />
        <table align="center">
            @for (int i = 1; i < 8; i++)
            {
                <tr>
                    @for (int b = 1; b < 8; b++)
                    {
                        <td class="Tile">
                            <img data-model="char1.jpg@*@Model.character.CharacterModel*@" class="Tile" />
                            <input type="hidden" value="@i@b" data-tile="@i@b"/>
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</body>