@model Stranded.Models.ViewModels.MapViewModel
<!DOCTYPE html>
<body>
    <div class="Gui">
        <br /><br />
        <table align="center">
            @for (int i = 0; i < 8; i++)
            {
                <tr>
                    @for (int b = 0; b < 8; b++)
                    {
                        <td>
                            <img src="~/images/Map/grass.jpg" data-model="char1.jpg@*@Model.character.CharacterModel*@" />
                        </td>
                    }
                </tr>
            }
        </table>
        <br /><br />
    </div>
</body>