@using Stranded.Models.ViewModels
<!DOCTYPE html>
<body>
    <div class="Gui Gui_Buttons">
        <form asp-controller="Map">
            <input type="submit" value="Map" />
            <input type="submit" value="Inventory" />
            <input type="submit" value="Character" />
            <input type="submit" value="Stats" />
        </form>
    </div>
</body>