<!DOCTYPE html>
<body>
    <div class="Gui_Buttons">
        <form asp-controller="Map">
            <input type="submit" value="Map" class="btn-dark"/>
            <input type="submit" value="Inventory" class="btn-dark"/>
            <input type="submit" value="Character" class="btn-dark" />
            <input type="submit" value="Stats" class="btn-dark"/>
        </form>
    </div>
</body>