<!DOCTYPE html>
<body>
    <div class="Gui Gui_Inventory">
        <form asp-controller="Map">
            <p>Inventory</p>
            <hr/>
            <div class="container row">
                <div class="col-md-6">Description</div>
                <hr/>
                <div class="col-md-6">Items</div>
            </div>
        </form>
    </div>
</body>